
/* selektor znacznika */
p {
    font-size: 18px;
    color:blue;
    background-color: yellow;
}


/* selektor identyfikatora */
#selektory p {
    background-color: azure;
}


/* selektor klasy */
.example p {
    font-size: 36px;
}


/* łączenie selektorów */
h1, h2, h3 {
    color: blueviolet;
}


.direct > p {
    background-color: bisque;
}


/* bezposredni potomek */

.child div + div {
    font-size: 72px;
    color: coral;
}


/* selektor wykluczajacy */

.wyklucz p:not(.not){
    background-color: gray;
}